
.comp-button{
    font-size: 1.25rem;
    color:black;
    padding: 1.5% 1.5%;
    background-color: #fff1c3;
    border: #fff1c3 ;
}
.comp-button:hover{
    color:black;
    background-color: #caf1ff ;
    border: #caf1ff  ;
}




