html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 13.5px;

}

.navbar-custom {
    background-color: #95cdf7;
}


.fa-home {
    position: absolute;
    color: #95cdf7;
    top: -4%;
    left: 2%
}

.lessons {
    position: absolute;
    top: -4%;
    left: 15%
}

.below-nav {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: pink; */

}

.carousel {
    border: 4rem #caf1ff solid;
    width: 70%;
    height: 85%;
    margin: 3% auto;
    background-color: #95cdf7;

}

.carousel-inner {
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.carousel-item {
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.trying {
    width: 100%;
    height: 100%;
}

.topic-box {
    background-color: #fff1c3;
    font-size: 1.5rem;
    padding: 2%;
    margin: 5% 5%;
    text-align: center;

}

.img-module {
    position: absolute;
    width: 17rem;
    height: 20rem;
    background-color: white;
    padding: 2%;
    border-radius: 30%;
    border: 0.5rem #caf1ff solid;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 35%;
}

.info {
    position: absolute;
    width: 17rem;
    top: 22%;
    background-color: #fff1c3;
    font-size: 1rem;
    padding: 2% 1.5%;
    margin: 7% 5%;
}

.quote {
    position: absolute;
    display: block;
    text-align: center;
    /* position: absolute; */
    /* padding: 2%; */
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.1rem;

}

.real-life {

    font-size: 1rem;
    position: absolute;
    background-color: #fff1c3;
    padding: 2% 1.5%;
    top: 22%;
    width: 17rem;
    right: 0;
    margin: 7% 5%;

}

.next-module {
    position: absolute;
    background-color: #fff1c3;
    padding: 1% 2%;
    font-size: 1rem;
    margin: 3% 5%;
    right: 0;
    bottom: 1%;
   
}

.carousel-control-prev {
    margin-left: -7rem;
}

.carousel-control-next {
    margin-right: -7rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 3rem;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 3rem;
    color: black;
}

.next-ch{
    color:black;
    background-color: #caf1ff ;
    border: #caf1ff  ;
    
}

.next-ch:hover{
    color:black;
    background-color: #fff1c3 ;
    border: #caf1ff  ;
}


@media only screen and (max-width: 1024px) {
    html {
        font-size: 18px;
    }

    .carousel {
        position: relative;
        border: 4rem #caf1ff solid;
        width: 85%;
        margin-top: 7%;
        height: 85%;
    }


    .info,
    .real-life {
        position: relative;
        padding: 3% 2%;
        margin: 4% auto;
        width: 90%;
        top: 0;

    }

    .info {
        margin-top: 4%;
    }

    .quote {
        position: absolute;
        width: 100%;
        margin: -12% auto;
    }



    .img-module {

        position: relative;
        top: 0;
        width: 14rem;
        height: 14rem;
        display: block;
        margin-top: 10%;
    }

    .next-module {
        text-align: center;
        position: relative;
        bottom: -1%;
    }

    .carousel-control-prev {
        margin-left: -5rem;
    }

    .carousel-control-next {
        margin-right: -5rem;
    }


}


@media only screen and (max-width: 1022px) {
    html {
        font-size: 10px;
    }

    .carousel {
        height: 80%;
        margin: 6% auto;
    }

    .info,
    .real-life {
        width: 90%;
    }

    .next-module {
        bottom: 1%;
    }
}

@media only screen and (max-width: 834px) {
    html {
        font-size: 14px;
    }

    .quote {
        margin: -11% auto;
    }
}


@media only screen and (max-width: 768px) {
    html {
        font-size: 12.5px;
    }

    .quote {
        margin: -10% auto;
    }
}

@media only screen and (max-width: 736px) {
    html {
        font-size: 11.5px;
    }

    .quote {
        margin: -10% auto;
    }
}


@media only screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .carousel {
        position: relative;
        border: 1rem #caf1ff solid;
        width: 90%;
        margin-top: 13%;
        height: 90%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 5rem;
        width: 5rem;
        outline: black;
        background-size: 80%, 80%;
        background-image: none;

    }

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 3rem;
        color: black;

    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 3rem;
        color: black;
        left: -3rem;


    }

    .info {
        margin-top: 5%;
    }

    .info,
    .real-life,
    .next-module {
        font-size: 1.05rem;
    }

    .lessons {
        font-size: 1rem;
    }

    .fa-home {
        margin-top: -2.5%;
    }

    .quote {
        margin-top: -33%;
    }

    .img-module {
        margin-top: 13%;
    }

    .next-module {
        margin: 7% auto;
        width: max-content;
    }

    a {
        text-decoration: none
    }


}
@media only screen and (max-width: 380px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1112px) and (orientation:landscape) {
    html {
        font-size: 12px;
    }

    .carousel {
        height: 70%;
        margin: 6% auto;
    }

    .info,
    .real-life {
        position: absolute;
        width: 26%;
        top: 20%;
        margin: 7% 5%;
    }

    .next-module {
        position: absolute;
        bottom: 3%;
    }


    .quote {
        top: 21%
    }

}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
    .quote {
        top: 52%
    }
}

@media only screen and (max-width: 830px) and (orientation:landscape) {
    html {
        font-size: 10px;
    }

    .fa-home {
        position: absolute;
        color: #95cdf7;
        top: -10%;
        left: 2%
    }

    .lessons {
        font-size: 1rem;
        position: absolute;
        top: -9%;
        left: 11%
    }

    .carousel {
        width: 100%;
        height: 100%;
        border: 1.5rem #caf1ff solid;
    }

    .real-life,
    .info {
        top: 12%;
        width: 28%;
    }

    .topic-box {
        margin: 2% 5%;
    }

    .next-module {
        width: max-content;
        right: 0%;
        bottom: -3%;
    }



}
@media only screen and (max-width: 667px) and (orientation:landscape) {
    html {
        font-size: 9px;
    }
}
@media only screen and (max-width: 568px) and (orientation:landscape) {
    html {
        font-size: 8px;
        overflow: auto;
    }
}