.carousel{
    height: 80%;
}


.img-cont{
    position: relative;
    text-align: center;
}
.img-module{
    width: 18rem;
    height: 18rem;
    border: 0.3rem #caf1ff solid;
    border-radius: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
