html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 13.5px;
}

.navbar-custom {
    background-color: #95cdf7;
}

.lessons {
    position: relative;
    margin-left: 15%;
    margin-top:1.5%;
}
.fa-home {
    position: absolute;
    color: #95cdf7;
    margin-top: -0.5%;
    left: 5%;
}
.lesson{
    text-decoration: none;
    font-size: 0.85rem;

}
.below-nav {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: pink; */

}
.carousel {
    border: 2rem #caf1ff solid;
    width: 70%;
    height: 90%;
    margin: 1.5% auto;
    background-color: #95cdf7;

}

.carousel-inner {
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 5%;

}

.carousel-item {
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.topic-box {
    border: 0.5rem #caf1ff solid;
    background-color: #fff1c3;
    font-size: 1.25rem;
    padding: 2%;
    margin: 5% 0 1%; 
    text-align: center;
}
.next-module {
    border: 0.5rem #caf1ff solid;
    background-color: #fff1c3;
    padding: 1% 2%;
    font-size: 1rem;
    margin: 3% 0% 3%;
    width: max-content;
    margin-left: auto; 
    margin-right: 0;
}
.carousel-control-prev {
    margin-left: -7rem;
}

.carousel-control-next {
    margin-right: -7rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 6rem;
    width: 6rem;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 3rem;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 3rem;
    color: black;
}
.next-ch{
    color:black;
    background-color: #caf1ff ;
    border: #fff1c3 0.5rem solid ;    
}
a{
    text-decoration: none;
}
.next-ch:hover{
    color:white;
    background-color: black ;
    border: #fff1c3 0.5rem solid ;
}
.comp-quote {
    position: relative;
    text-align: center;
    margin: 2% 0;
    font-size: 0.9rem;

}
.comp-first,
.comp-sec {
    font-size: 1rem;
    padding: 2% 3%;
    background-color: #fff1c3;
    border: 0.5rem #caf1ff solid;
    /* border-radius: 10%; */

}
.comp-long {
    font-size: 0.9rem;
}
