html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}


.selected-nav {
    color: rgba(0, 0, 0, 0.85) !important;
}

.content {
    font-size: 1rem;
    padding: 3% 3%;
}

.navbar-custom {
    background-color: #95cdf7;
}

.outer-box {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 0 3%;
    margin: 3.5% auto;
    background-color: #caf1ff
}

.inner-box {
    position: relative;
    background-color: #95cdf7;
    margin: 7% auto;
    padding: 3% 3%;
    text-align: center;
}

.topic-box,
.btn {
    position: relative;
    font-size: 1.05rem;
}

.topic-box {
    margin: 3% auto;
}

.explore {
    position: absolute;
    width: 80%;
    bottom: 3%;
    padding: 4% 3%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.explore:hover {
    background-color: #FFDF6B;
    border: #FFDF6B;
}

.img {
    width: 50%;
    height: 50%;
    margin: 3% 3%;
    /* border: 1px pink solid; */
}


.a {
    background-color: #caf1ff;
}

.btn {
    background-color: #fff1c3;
    border-color: #fff1c3;
    margin: 2% auto;
}


@media only screen and (max-width: 1024px) {
    html {
        font-size: 17px;
    }
    .outer-box{
        margin: 2% auto;
        padding: 1% 0%;
        height: max-content;
        
    }
    .inner-box{
        width: 85%;
        height: max-content;
        padding: 3% 2%;
        margin:2.5% auto;
    }
    .img{
        width: 30%;
        height: 45%;
        border-radius: 10%;
        border: 0.25rem solid #fff1c3;
        margin:3% auto;
    }
    .topic-box{
       margin:1% auto; 
    }
    .explore{
        position: relative;
        width: max-content;
        padding: 1.5% 2%;
        margin: 1% auto;
    }
}
@media only screen  and (max-width: 834px) {
    html {
        font-size: 13px;
    }
    .topic-box, .explore{
        font-size: 1.1rem;
    }    
}
@media only screen  and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .topic-box, .explore{
        font-size: 1.12rem;
    }    
    
}
@media only screen  and (max-width: 414px) {
    html {
        font-size: 8 px;
    }
    .outer-box{
        margin: 10% auto;
    }
}
@media only screen  and (max-width: 321px) {
    html {
        font-size: 6 px;
    }
    .outer-box{
        margin: 4% auto;
    }
}
