@media only screen and (max-width: 1025px) and (orientation:portrait) {

    .comp-quote {
        margin: 5% auto;
    }

    .img-module {
        position: relative;
        margin: 5% auto;
    }

    .next-module {
        margin: 5% auto;
    }
}

@media only screen and (max-width: 1220px) {

    .comp-quote {
        margin: 5% auto;
    }

    .img-module {
        position: relative;
        margin: 5% auto;
    }

    .next-module {
        margin: 5% auto;
    }
}

@media only screen and (max-width: 1025px) and (orientation:landscape) {


    .comp-first {
        position: relative;
    }

    .img-module {
        position: relative;
        margin: 5% auto;

    }
}
