html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;

}

.navbar-custom {
    background-color: #95cdf7;
}

.selected-nav {
    color: rgba(0, 0, 0, 0.85) !important;
}
.container{
    position: relative;
}

.outer-box {
    position: relative;
    width: 85%;
    height: max-content;
    background-color: #caf1ff;
    padding: 5% 10%;
    /* top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    margin: 7% auto;
    border-radius: 15px;
}

.question {
    font-size: 1.1rem;
    background-color: #fff1c3;
    padding: 4% 5%;
    margin: 2% auto;
    border: 0.2rem #95cdf7 solid;
    border-radius: 15px;


}

.img-question {
    position: relative;
    width: 8rem;
    height: 8rem;
    background-color: white;
    padding: 3%;
    margin: 7% 2%;
    border-radius: 70%;
    border: 0.5rem #caf1ff solid;
}

.choice {
    position: relative;
    background-color: #ffffff;
    border: 0.2rem #95cdf7 solid;
    margin: 2% auto;
    text-align: center;
    border-radius: 15px;


}
.choice-text{
    text-align: center;
    font-size: 1rem;

}
.correct {
    background-color: #b0D8A4;
}

.wrong {
    background-color: #E84258;
}

.img-choice {
    width: 100%;
    height: 7rem;
}



.sub-next {
    position: relative;
    background-color: #95cdf7;
    border: #95cdf7;
    left: 78%;
    border-radius: 15px;

}

.alert {
    position: relative;
    font-size: 1rem;
    text-align: center;
    color: #E84258;
    bottom: 2%;

}

.hide {
    display: none;
}

.summary {
    font-size: 1.25rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #95cdf7;
    padding: 3% 5%;
    border-radius: 7%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.blur {
    opacity: 0.5;
}

.sum-sm {
    font-size: 1rem;
}

.last-btn {
    margin: 6% auto;
    background-color: #fff1c3;
    border: #fff1c3;
}
@media only screen and (min-width: 320px) {
    html {
        font-size: 10px;
    }

}

@media only screen and (min-width: 375px) {
    html {
        font-size: 11px;
    }

}


@media only screen and (min-width: 414px) {
    html {
        font-size: 12.25px;
    }

}

@media only screen and (min-width: 768px) {
    html {
        font-size: 15.5px;
    }
    .sub-next{
        left: 85%;
    }
}

@media only screen and (min-width: 830px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }

}

@media only screen and (min-width: 1026px) {
    html {
        font-size: 19px;
    }

    .img-choice {
        position: relative;
        width: 48.8%;
        margin: 1% auto;
    }

    .img-left {
        margin-right: 2%;
    }

    .choice-container {
        position: relative;
    }

    .outer-box {
        height: max-content;
        margin: 2% auto;
        padding: 2% 2% 1% 2%;
    }

    .question {
        padding: 3% 3%;
        margin: 0;
        margin-bottom: 2%;
    }

    .img-question {
        margin: 0.5% 2%;
    }

    .sub-next {
        left:90%;
    }

}

@media only screen and (min-width: 1920px) {
    html {
        font-size:25px;
    }
}