/* canvas{
    border:2px solid black;

} */

.wrapper canvas{
    position: absolute;
    top: 0;
    left: 0;
}
html,body{
    margin:0;
   
}
.wrapper{
    position: relative;
}
.navbar-custom{
    background-color:#95cdf7;
    
}
.child{
    pointer-events: none;
}