html,body{
    margin:0;
   
}
/* canvas{
    border: 1px solid black;
} */
.wrapper canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper{
    position: relative;
}
.navbar-custom{
    background-color:#add3ff
    ;
    
}
#action-background{
    position: absolute;
    z-index: -1;
}

